{% extends 'users/user_default.html'%}
{% load static %}
{% block make_appointment %}
<div class="backlink d-grid">
    <div class="navigation-info d-flex">
        <p>
            <a href="./Patients_dashboard.html"> <span id="bluetext">Dashboard</span></a>
            <span><i class="fas fa-angle-right"></i></span>
            <span id="bluetext">Booking Appointment</span>
            <span><i class="fas fa-angle-right"></i></span>
            <a href="/profile.html"><span id="bluetext">Dr. Umair</span></a>
        </p>
    </div>
    <div class="appointment-section d-flex">
        <div class="appointment-box br-6 shadow">
            {% if messages %}
                {% for message in messages%}
                <div class="{{ message.tags}} br-6">
                    <p>{{ message }}</p>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}