{% extends 'users/user_default.html'%}
{% load static %}
<!-- Dashboard -->
{% block dashboard %}
<div class="backlink d-grid">
    <div class="navigation-info d-flex">
        <p>
            <span id="bluetext">/</span>
            <span><i class="fas fa-angle-right"></i></span>
            <a href="{% url 'Home' %}"> <span id="bluetext">Dashboard</span></a>
            
        </p>
    </div>
</div>
<div class="dahsboard-container">
    <div class="upcomming-appintment d-flex shadow br-6">
        <h4>Upcomming Appointment : 20</h4>
        <div class="ds-appintment-btn">
            <p>
                <a href="{% url 'appointments' %}">
                    <span id="bluetext">View All</span>
                </a>
            </p>
        </div>
        {% if user.usersinfo.role != "doctor" %}
        <div class="ds-appintment-btn m-left-auto">
            <p>
                <a href="{% url 'doctors' %}" class="shadow">
                    <span id="bluetext">New Appointment</span>
                </a>
            </p>
        </div>
        {% endif %}
    </div>

    {% if user.usersinfo.role == "doctor" %}            
        <div class="report-section shadow br-6">
            <div class="appointment-chart">
                <h2 id="appformonth">Appointments Each month</h2>
                <!-- tabs for months -->
                <div class="tab-wrapper">
                    <div class="tabs">
                      <div class="left">
                        <button type="button"> &lt;  </button>
                      </div>
                      <div class="month" data-month-index="0">Jan</div>
                      <div class="right">
                        <button type="button"> &gt; </button>
                      </div>
                    </div>
                </div>
                <!-- ended -->
                <div class="chart-section">
                    <canvas id="appointmentChart"></canvas>
                </div>
            </div>
            <div class="diseaseChart" onload="ajaxTest()">
                
                <h2 id="disease">Disease</h2>
                <div class="chart-section">
                    <canvas id="diseaseChart" ></canvas>
                </div>
            </div>
        </div>
    {%endif%}
    
</div> <!-- dashboard container ends-->
    



{% endblock %}