{% extends 'users/home_default.html'%}

{%block content%}
<div class="login-form">
    <h2>Login</h2>

    <form action="" method="POST" class="form-group">
        {% csrf_token %}

        {% if form.errors %}
        <div class="form-item d-flex">
            <div class="error br-6">
                <p>Please enter a correct username and password. 
                    Note that both fields may be case-sensitive
                </p>
            </div>
        </div>
        {% endif %}
        <div class="form-item d-flex">
            <label class="form-label">User name</label> 
            {{ form.username}}
        </div>

        <div class="form-item d-flex">
            <label for="#email" class="form-label">Password</label>
           
            {{form.password}}
        </div>
        <div class="form-item">
            <label class="check">Remember Me
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="form-item ">
            <button class="btn btn-form shadow">Login</button>
        </div>
        <small class="muted-text">
            <p>Did't have an account? <a href="/register.html" id="bluetext">Register</a></p>
        </small>
    </form>
</div>
{%endblock%}