{% extends 'users/user_default.html'%}
{% load static %}
{% block patients_list_block %}
<div class="backlink d-grid">
    <div class="navigation-info d-flex">
        <p>
            <span id="bluetext">/</span>
            <span><i class="fas fa-angle-right"></i></span>
            <a href="{% url 'Home' %}"> <span id="bluetext">Dashboard</span></a>
            <span><i class="fas fa-angle-right"></i></span>
            <a href="{% url 'patients' %}"> <span id="bluetext">Patients</span></a>
            
        </p>
    </div>
</div>
<div class="doctors-list d-grid">
    <nav>
        <ul>
            {% for patient in patients %}
            <li>
                <a href="{% url 'patient-profile' patient.id %}">
                    <div class="row">
                        <div class="profileimage">
                            <img src="{{ patient.usersinfo.profile_picture.url }}" alt="">
                        </div>
                        <div class="name">
                            <h4>{{ patient.first_name }} {{ patient.last_name }} </h4>
                        </div>
                        
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</div>

{% endblock %}