{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&display=swap" rel="stylesheet">
    <!-- heathcare style css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <!-- Place your kit's code here for fontawesome -->
    <link rel="stylesheet" href="{% static '/css/all.min.css' %}">
    <script src="https://kit.fontawesome.com/9ce9c6ea4b.js" crossorigin="anonymous"></script>

    <!-- Charts.js  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" 
    integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Jquery -->
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

    <!-- Fengyuan Chen’s Datepicker -->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.css" 
    integrity="sha512-YdYyWQf8AS4WSB0WWdc3FbQ3Ypdm0QCWD2k4hgfqbQbRCJBEgX0iAegkl2S1Evma5ImaVXLBeUkIlP6hQ1eYKQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.js" 
    integrity="sha512-RCgrAvvoLpP7KVgTkTctrUdv7C6t7Un3p1iaoPr1++3pybCyCsCZZN7QEHMZTcJTmcJ7jzexTO+eFpHk4OCFAg==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Patients Dashboard</title>
</head>

<body>
    <div class="container">
        <header class="d-flex dashboard">
            <div class="brand">
                <h2><a href="{% url 'Home' %}">HealthCare</a></h2>
            </div>
            <div class="searchbox">
                <form action="">
                    <div class="form-item">
                        <input type="search" name="" placeholder="Search " id="" class="form-field">
                        <button class="btn btn-search">search</button>
                    </div>

                </form>
            </div>
            <div>
                <i class="fas fa-cog"></i>
                <div class="settingsblock">
                    <div class="box">
                        <nav>
                            <ul>
                                <li><a href="{% url 'profile'%}">
                                        <div class="goto-profile">
                                            <div class="setting-profile-img">
                                                <!-- <img src="{{user_info.profile_picture.url}}" alt=""> -->
                                            </div>
                                            <div class="profile-name">
                                                <p>{{ user.first_name }} {{ user.last_name }}</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </header>

        <div class="main-body d-grid">
            <div class="sidemenu">
                <nav>
                    <ul>
                        
                        {% if user.usersinfo.role == 'doctor' %}
                        <li><a href="{% url 'patients'%}">Patients</a></li>
                        <li><a href="{% url 'appointments' %}">Appointments</a></li>
                        {%else%}
                        <li><a href="{% url 'doctors' %}">Doctors</a></li>
                        <li><a href="{% url 'appointments' %}">Appointments</a></li>
                        {%endif%}
                    </ul>
                </nav>
        
            </div>
            <div class="main-content">
            {% if profile %}
                {% block profile_view %}
                {% endblock %}
            {% endif %}

            {% if doctors %}
                {% block doctor_list_block %}
                {% endblock%}
            {% endif %}

            {% if dashboard %}
                {% block dashboard %}
                {% endblock %}
            {% endif %}

            {% if do_appointment %}
                {%block make_appointment%}
                {% endblock %}
            {% endif%}

            {% if doctor_profile %}
                {% block doctor_profile_view %}
                {% endblock %}
            {% endif %}
            {% block appointments %}
            {% endblock %}

            {% block patients_list_block %}
            {% endblock%}
            
            {% block patient_profile_view %}
            {% endblock %}

        </div> <!-- main content -->
    </div><!-- main-body ends here-->
    </div> <!-- main body ends here--->
        <footer>

        </footer>
    </div> <!-- Container ends here-->
        <script>

            var settingIcon = document.getElementsByClassName("fa-cog")[0];
            var settingsBlock = document.getElementsByClassName("settingsblock")[0];
            settingsBlock.style.display = "none";
            settingIcon.addEventListener("click", function () {
                if (settingsBlock.style.display !== "block") {
                    settingIcon.style.color = "#2964c8";
                    settingIcon.style.transform = "rotate(60deg)";
                    settingsBlock.style.transition = "all 5s";
                    settingsBlock.style.display = "block";


                } else {
                    settingIcon.style.color = "#136ff8";
                    settingIcon.style.transform = "rotate(0deg)";
                    settingsBlock.style.display = "none";
                }

            });

        </script>

       {% if not profile%}
       <script>
        var appointment_cvx = document.getElementById("appointmentChart").getContext("2d");
        var disease_cvx = document.getElementById("diseaseChart").getContext("2d");
    
        var appointment_chart = new Chart(appointment_cvx,{
                type: "bar",
                data: {
                    labels:["Jan", "Feb","March","April","May","June","July","Aug","September","Oct","Nov","Dec"],
                    datasets:[{
                        label: "Appointments",
                        data: [56,34,67,110,15,70,45,90,40,120,50,83],
                        backgroundColor: [
                        "#3e3d3d",
                        "Orange",
                        "Green",
                        "Blue",
                        "Purple",
                        "Red",
                        "Yellow",
                        "Gray",
                        ],
    
                    }]
                },
                options:{
                    position: "right"
                }
            });
    
            var disease_chart = new Chart(disease_cvx,{
                type: "bar",
                data:{
                    labels : ["Covid","Flue","Heart","Kidny","Infection"],
                    datasets:[{
                        label: "Disease",
                        data:[5, 4, 2, 7, 6, 10],
                        backgroundColor:[
                            "black",    
                            "red",
                            "green",
                            "yellow",
                            "purple"
    
                        ]
                    }],
                },
                options:{},
            });
    </script>
       {%endif%}
       <script>
        $(function () {
          $("#datepicker").datepicker({
            format: 'yyyy-mm-dd'
          });
        });
      </script>
</body>

</html>